@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width {
    max-width: 1550px;
    padding: 0 80px;
    margin: auto;
}


/* navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background: crimson;
    font-family: 'Ubuntu', sans-serif;

}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: crimson;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: blue;
}

/* home section styling */
.home {
    display: flex;
    background-color: black;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;

}

.home .home-content .text1 {
    font-size: 27px;
}

.home .home-content .text2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text3 {
    font-size: 40px;
    margin: 5px 0;
    color: crimson;
}

/* about section styling */
section {
    padding: 100px 0;
}

.about .about-content {
    font-family: 'Poppins', sans-serif;
}

.about .title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color: crimson;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: crimson;
    background: none;
}


/* projects section styling */
.projects {
    color: #fff;
    background: #111;
    /* font-family: ; */
}

.projects .title {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.projects-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.projects .projects-content .card {
    background: #222;
    text-align: center;
    border-radius: 5px;
    padding: 20px 25px;
    margin: 0 10px;
}

.projects-content img {
    width: 300px;
    height: 200px;
    margin: 20px 0;
}

.projects .projects-content a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 15px;
    padding: 5px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.projects .projects-content a:hover {
    color: crimson;
    background: none;
}

.projects .projects-content .card .box {
    font-family: 'Poppins', sans-serif;
}


@media only screen and (max-width: 480px) {}

@media only screen and (min-width: 481px) and (max-width: 768px) {}